/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
body{
    background: #23242a;
    font-family: 'poppins',sans-serif;
    }
h3{
    color: #45f3ff;
}
.card{
    position: relative;
    background: #28292d;
    overflow: hidden;
    color: #45f3ff;
    }
